# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs
logs/
*.log



# Build outputs
client/build/
server/dist/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/



